.liveMatchComponent {
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(61, 61, 61);
    border-radius: 5px;
}

.liveMatchComponent>.lmcCont {
    width: 100%;
}

.liveMatchComponent>.lmcCont>button {
    background-color: rgb(250, 38, 38);
    border-radius: 5px;
    border: none;
    color: white;
    width: 55px;
    height: 25px;
    font-size: 13px;
}

.liveMatchComponent>.lmcCont>.teams {
    width: 100%;
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.liveMatchComponent>.lmcCont>.teams>div {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    /* border: 1px solid red; */
    background-color: rgb(41, 41, 41);
}

.liveMatchComponent>.lmcCont>.teams>div>img {
    width: 90%;
}

.liveMatchComponent>.lmcCont>.teams>h4 {
    font-size: 25px;
    font-weight: 700;
    font-family: 'Montserrat Alternates',
        sans-serif;
    color: white;
}

.liveMatchComponent>.lmcCont>h5 {
    font-size: 14px;
    font-weight: 500;
    color: rgb(199, 199, 199);
}

.liveMatchComponent>.lmcCont>.progressBar {
    height: 2px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.liveMatchComponent>.lmcCont>.progressBar>.progress {
    width: 63.33%;
    height: 100%;
    background-color: rgb(250, 38, 38);
}

.liveMatchComponent>.lmcCont>.progressBar>.unshaded {
    background-color: rgb(41, 41, 41);
    width: 36%;
    height: 100%;
}

.liveMatchComponent>.lmcCont>p {
    font-size: 13px;
    color: rgb(138, 138, 138);
    font-weight: 500;
}

.liveMatchComponent>.lmcCont>.nameScores {
    width: 100%;
}

.liveMatchComponent>.lmcCont>.nameScores>div {
    width: 100%;
    display: flex;
    margin-bottom: 5px;
    justify-content: space-between;
}

.liveMatchComponent>.lmcCont>.nameScores>div {
    font-size: 14px;
    font-weight: 500;
    color: white;
}

.liveMatchComponent>.lmcCont>.odds {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.liveMatchComponent>.lmcCont>.odds>div {
    width: 31%;
    background-color: rgb(41, 41, 41);
    display: flex;
    border-radius: 5px;
    justify-content: space-between;
    height: 40px;
    align-items: center;
    padding: 0 7px;
}

.liveMatchComponent>.lmcCont>.odds>div>span {
    font-size: 13px;
    color: rgb(150, 150, 150);
}

.liveMatchComponent>.lmcCont>.odds>div>p {
    font-size: 13px;
    font-weight: 500;
    color: white;
}